<div class="navbar-Qhome9">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-Qhome9-logo" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-Qhome9-right hidden-xs hidden-sm">


    <!-- Dropdown -->
    <div class="navbar-Qhome9-item">
      <div class="dropdown">
        <i class="fa fa-bars avatar dropdown-toggle" aria-hidden="true" id="navbar-Qhome9-menu" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-Qhome9-dropdown-menu">
          <li>
            <%link_to "Home", root_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
          <li>
            <%= link_to "About", pages_about_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
          <li>
            <%= link_to "Réhabilitation", pages_rehabilitation_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
          <li>
            <%= link_to "Meuble", pages_meuble_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
          <li>
            <%= link_to "Projets pour particuliers", pages_particulier_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
          <li>
            <%= link_to "Contact", pages_contact_path, class: "navbar-Qhome9-item navbar-Qhome9-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-Qhome9-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-Qhome9-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div> -->
