<div class="home-page">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= link_to pages_rehabilitation_path, class: "home-item" do %>
        <%= image_tag "Bidassoa-003.jpg" %>
        <% end %>
      </div>
       <div class="col-xs-12 col-md-4">
        <%= link_to pages_meuble_path, class: "home-item" do %>
        <%= image_tag "table1.jpg" %>
        <% end %>
      </div>
       <div class="col-xs-12 col-md-4">
        <%= link_to pages_particulier_path, class: "home-item" do %>
        <%= image_tag "Manel-2.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
