<div class="rehabilitation-page">

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "bidassoa-003.png", class: "pages-card" %>
          <div class="rehabilitation-picture">
          <%= image_tag "Bidassoa-001.jpg", class: "pages-card-small" %>
          <%= image_tag "Bidassoa-002.jpg", class: "pages-card-small" %>
          <%= image_tag "Bidassoa-004.jpg", class: "pages-card-small" %>
          <%= image_tag "Bidassoa-005.jpg", class: "pages-card-small" %>
          <%= image_tag "Bidassoa-006.jpg", class: "pages-card-small" %>
          <%= image_tag "Bidassoa-007.jpg", class: "pages-card-small" %>
          </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "bluets1.jpg", class: "pages-card"  %>
        <span class= "pages-card-description">
        Meubles d'inspiration fifties
        </span>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "republique1.jpg", class: "pages-card" %>
      </div>
    </div>
  </div>

</div>
